# Regresión Lineal

En este ejemplo cargaremos un dataset obtenido mediante webscraping y que contiene diversas URLs de articulos sobre Machine Learning.
Este archivo contiene mitad de datos reales y mitad de datos generados aleatoriamente por lo que los datos que obtendremos no serán reales.

Este archivo de datos estará compuesto por las siguientes columans:
Title: titulo del artículo
* url: ruta al artículo
* Wordcount: la cantidad de palabras del artículo,
* of Links: los enlaces externos que contiene,
* of comments: cantidad de comentarios,
* Images video: suma de imágenes (o videos),
* Elapsed days: la cantidad de días transcurridos (al momento de crear el archivo)
* Shares:nuestra columnadesalida queserá la “cantidad de veces que se compartió el artículo”

Importamos las librerrías necesarias

In [5]:
#librerias necesarias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import _cm
plt.rcParams["figure.figsize"] = (16, 9)
plt.style.use('ggplot')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [7]:
data=pd.read_csv("data/articulos_ml.csv")
data.shape

(161, 8)

Vamos a mostrar los primeros registros de nuestro dataset

In [8]:
data.head()

,Title,url,Word count,# of Links,# of comments,# Images video,Elapsed days,# Shares
0,What is Machine Learning and how do we use it ...,https://blog.signals.network/what-is-machine-l...,1888,1,2.0,2,34,200000
1,10 Companies Using Machine Learning in Cool Ways,NaN,1742,9,NaN,9,5,25000
2,How Artificial Intelligence Is Revolutionizing...,NaN,962,6,0.0,1,10,42000
3,Dbrain and the Blockchain of Artificial Intell...,NaN,1221,3,NaN,2,68,200000
4,Nasa finds entire solar system filled with eig...,NaN,2039,1,104.0,4,131,200000